---
title: "\"2024 Approved  In-Depth GoPro Hero5 Testing Report\""
date: 2024-09-04T23:26:52.029Z
updated: 2024-09-05T23:26:52.029Z
tags: 
  - screen-recording
  - ai video
  - ai audio
  - ai auto
categories: 
  - ai
  - screen
description: "\"This Article Describes 2024 Approved: In-Depth GoPro Hero5 Testing Report\""
excerpt: "\"This Article Describes 2024 Approved: In-Depth GoPro Hero5 Testing Report\""
keywords: "GoPro Hero5 Review,Hero5 Camera Test,Hero5 Performance,GoPro Hero5 Analysis,Hero5 Waterproof Testing,GoPro Hero5 Features,Hero5 Video Quality"
thumbnail: https://thmb.techidaily.com/6b70f639163cfe01d6518c08ef2693a5f686b7373d5c47d7a53f258bef450907.jpg
---

## In-Depth GoPro Hero5 Testing Report

# GoPro Hero5 Session Review

![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

##### Max Wales

 Mar 27, 2024• Proven solutions

 If you are in search of action cameras then [GoPro](https://tools.techidaily.com/wondershare/filmora/download/) is best brand for you. It offers high tech cameras with all amazing features and variable price ranges so you can easily find one that suits your needs. GoPro Hero5 Session camera is rated as one of the best devices with reasonable price range; so it is good to check few awesome details about this device.

 Want to know which GoPro to buy? Here is a [complete comparison >>](https://tools.techidaily.com/wondershare/filmora/download/)

**You may also like:** [Top 15 Best Action Cameras >>](https://tools.techidaily.com/wondershare/filmora/download/)

 It is a light weight, small size device with cube shape design that can shoot highly stabilized videos even with 4k resolution. With payment of $299.99, you can avail 4k recording abilities along 1080p at 90fps, 720p at 120fps. If this device is little above then your budget then you can also look for [GoPro Hero4 session](https://tools.techidaily.com/wondershare/filmora/download/) that is the previous version and will be priced $100 less than that of Hero5 session. If your budget is on higher side then prefer to buy [Hero5 Black](https://tools.techidaily.com/wondershare/filmora/download/) that is priced at $399.99 with all amazing features.

 See [Hero Session 5 VS Hero Session 4 >>.](https://tools.techidaily.com/wondershare/filmora/download/)

[For most of action camera lovers Hero5 session will be the best choice so below you will get some of the essential details about your favorite device:](https://tools.techidaily.com/wondershare/filmora/download/)

## Specs Table:

| **Product Name**                                                            | GoPro Hero5 Session                                                    |                      |                             |
| --------------------------------------------------------------------------- | ---------------------------------------------------------------------- | -------------------- | --------------------------- |
| **Manufacture**                                                             | GoPro (USA)                                                            |                      |                             |
| **Date available**                                                          | 2 October 2016                                                         |                      |                             |
| **Price:**                                                                  | Official:$299                                                          |                      |                             |
| **Basic Specification**                                                     |                                                                        |                      |                             |
| **Parameters**                                                              | **Details**                                                            | **Parameters**       | **Details**                 |
| **Weight**                                                                  | 73g only                                                               | **Shape**            | Box                         |
| **Memory**                                                                  | SDXC cards with 128GB storage and Micro SD (Class 10)                  | **Dimensions**       | 38x38x36mm                  |
| **Battery**                                                                 | 1000mAh (with 4K resolution it offers 1 hour 40 minute recording time) | **Waterproof**       | 10 meters (without housing) |
| **Image resolution**                                                        | Up to 10mp                                                             | **Video resolution** | Up to 4k at30fps            |
| **Display**                                                                 | No                                                                     | **Modes**            | WIFI and Bluetooth          |
| **Other Features**                                                          | Voice Control                                                          |                      |                             |
| Advanced Digital video stabilization                                        |                                                                        |                      |                             |
| Simple one-button type control                                              |                                                                        |                      |                             |
| ultra wide, Super view, narrow, medium as well as new linear field of views |                                                                        |                      |                             |
| Advanced reduction capability towards wind-noise                            |                                                                        |                      |                             |
| Auto image rotation facility                                                |                                                                        |                      |                             |
| Auto low-light mode available                                               |                                                                        |                      |                             |
| Time lapse video can be generated                                           |                                                                        |                      |                             |

## Pros and Cons:

| **Pros**                                              | **Cons**                               |
| ----------------------------------------------------- | -------------------------------------- |
| Voice commands show amazing results                   | No RAW or WDR support for still images |
| Excellent video quality                               | Non-removable type battery             |
| Advanced Digital image stabilization feature included | GPS facility is not available          |
| Sensitive dual microphones are available              | No viewfinder                          |
| Waterproof (10m without case)                         | \-                                     |
| Compact size                                          | \-                                     |

<!-- affiliate ads begin -->
<a href="https://imp.i357552.net/c/5597632/857869/11832" target="_top" id="857869">
  <img src="//a.impactradius-go.com/display-ad/11832-857869" border="0" alt="https://techidaily.com" width="728" height="90"/>
</a>
<img height="0" width="0" src="https://imp.i357552.net/i/5597632/857869/11832" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## Complete Review

#### What is inside the Box?

[If you are ready to buy GoPro Hero5 session Camera then you can expect following things with your device when you will unbox it:](https://tools.techidaily.com/wondershare/filmora/download/)

* [The box will have one standard frame.](https://tools.techidaily.com/wondershare/filmora/download/)
* [It comes with flat as well as curved adhesive mounts that allows users to capture scenes in all difficult locations.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Mounting Buckle will be included.](https://tools.techidaily.com/wondershare/filmora/download/)
* [USB-C cable is added.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Some video samples will be available.](https://tools.techidaily.com/wondershare/filmora/download/)

[Check at Amazon](https://www.amazon.com/gp/product/B01LZTLCFX/ref=as%5Fli%5Ftl?ie=UTF8&tag=vs-flora-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LZTLCFX&linkId=ea1830f57bf7ee4f930b77258f8b3654
)

#### Design and Accessories

 The highlights related to design and accessories can be presented as:

* 38mm or 1.5” cube shaped design helps users in obstructive mounting.
* This device provides impressive results when connected to GoPro Karma Drone.
* It is waterproof up to 10m or 33 feet.
* USB-C charging facility is available but battery is fixed.

 The GoPro camera units are well known for their well shaped rectangular design but this session camera was launched with attractive cube shape. With just a single easy to operate button you can easily start and stop recording whereas tiny LCD panel helps to view recording on the go. This structure is less complicated and users can even change settings to preferable mode from Android or iOS device.

#### Video and Photo Quality

 Few highlights are:

* It serves with 4K resolution for videos.
* This device is designed with total five fields of view where 3 of these are introductory.
* 10MP stills can be captured at 30fps frame rate.

 With all pretty features, GoPro Hero5 Session provides 4K resolutions at 30fps rate whereas this rate can be increased up to 90fps in case of 1080p recording. You will be glad to know about its advanced digital stabilization feature and the most exciting part is its vibration mode that gets automatically switched On when you are about the start the camera or when you switch recording Off. You can also switch off the vibrations at the time of video recording to capture much smoother details. Even if you want to capture videos while riding a cycle then also this camera can result in breathtaking view because it possesses advanced wind noise reduction ability.

 Users are excited about its several field of view modes that are: Medium, Wide, Narrow, Linear and Super view. You will be surprised to know that this small camera unit can record videos in super view mode so that you can avail extra wide coverage. One more appreciable feature is its low light video shooting mode that can provide satisfactory results with perfect video quality support.

#### Connectivity and Apps

 Some of the incredible connectivity options along with app supports are discussed as below:

 **Wi-Fi:**

 This latest camera from GoPro is designed to serve users with active Wi-Fi and Bluetooth support. Users can also connect it with iOS and Android device using GoPro Capture Application that activates remote control feature. With this type of connectivity you can also adjust camera settings directly from your phone that means a live view of camera screen will be generated on your mobile device.

 **GoPro Plus:**

 This name is given to a latest cloud based subscription of GoPro series so that users can publish their recorded videos directly on internet. Whenever you plug-in your Hero5 devices whether it is session or black, this cloud based application will allow you to access photo or video uploading facility instantly. It makes use of Home Wi-Fi network to enable this uploading. After this your footage will get stored on GoPro Plus account and it can be easily accessed from official website of GoPro. These uploaded videos will also be accessible on mobile devices as well as on desktop with the help of Quick application.

 **Quick:**

 This application is designed for Mobile as well as desktop users and allows fast as well as efficient editing features for all recorded videos. Users simply need to select highlights and then they can be easily edited to embed music into them or just to cut or trim to match certain timing requirements. The content that is stored on GoPro Account can also be accessed from quick App on portable devices.

**Note** that Users can also try GoPro Plus application for two months without making any payment as manufacturers have provided a free trial version whereas for complete feature access you need to pay $5 per month.

<!-- affiliate ads begin -->
<span id="1993647">
					<video width="128" height="480" style="cursor:pointer"
           poster="//a.impactradius-go.com/display-clicktoplayimage/1993647.png"
           onclick="if(!this.playClicked){this.play();this.setAttribute('controls',true);this.playClicked=true;}">
	   <source src="//a.impactradius-go.com/display-ad/22993-1993647">
	   <img src="//a.impactradius-go.com/display-clicktoplayimage/1993647.png" style="border: none; height: 100%; width: 100%; object-fit: contain">
	</video>
	<div style="width:80px;text-align:center"><a href="javascript:window.open(decodeURIComponent('https%3A%2F%2Fhomestyler.sjv.io%2Fc%2F5597632%2F1993647%2F22993'), '_blank');void(0);">Click here</a></div>
</span>
<img height="0" width="0" src="https://imp.pxf.io/i/5597632/1993647/22993" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## The Bottom Line

 Some of you may say that GroPro Hero5 Session is not having all fancy features but it is one of the most widely purchases action camera unit in market. This is simply the best device at reasonable price range and the video as well as image quality is amazing. The cube shape of this device is really attractive with tiny body that you can carry anywhere with ease. It is time to order your Hero5 session device online and soon you will be able to record your all adventurous trips with awesome capture quality. The waterproof and damage proof construction is itself an edge over all competing devices.

![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

<!-- affiliate ads begin -->
<a href="https://sentrypc.7eer.net/c/5597632/398455/3022" target="_top" id="398455">
  <img src="//a.impactradius-go.com/display-ad/3022-398455" border="0" alt="https://techidaily.com" width="728" height="90"/>
</a>
<img height="0" width="0" src="https://sentrypc.7eer.net/i/5597632/398455/3022" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
Max Wales

Max Wales is a writer and a lover of all things video.

Follow @Max Wales


<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>






<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://article-helps.techidaily.com/new-2024-approved-deciphering-whatsapp-talk-mechanics/"><u>[New] 2024 Approved  Deciphering WhatsApp Talk Mechanics</u></a></li>
<li><a href="https://fox-http.techidaily.com/new-2024-approved-expansive-movement-assessment-2023/"><u>[New] 2024 Approved  Expansive Movement Assessment 2023</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-2024-approved-integrating-smooth-crossfades-into-your-sound-design/"><u>[New] 2024 Approved  Integrating Smooth Crossfades Into Your Sound Design</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-2024-approved-navigating-microsoft-azure-for-text-conversion/"><u>[New] 2024 Approved  Navigating Microsoft Azure for Text Conversion</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-2024-approved-unleashing-the-full-potential-of-game-characters-with-voice-alteration-strategies-free/"><u>[New] 2024 Approved  Unleashing the Full Potential of Game Characters with Voice Alteration Strategies (Free)</u></a></li>
<li><a href="https://twitter-videos.techidaily.com/new-digital-collection-mastery-extracting-twitters-animated-tweets/"><u>[New] Digital Collection Mastery  Extracting Twitter's Animated Tweets</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-essential-gif-tools-for-x876-owners-for-2024/"><u>[New] Essential GIF Tools for X/8/7/6 Owners for 2024</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-gaiety-media-download-review-for-2024/"><u>[New] Gaiety Media Download Review for 2024</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-high-stakes-gopro-matchup-hero5b-and-hero5-session-edition/"><u>[New] High-Stakes GoPro Matchup  Hero5B & Hero5 Session Edition</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-highly-ranked-drone-selections-for-gopro-videos-and-shoots/"><u>[New] Highly Ranked Drone Selections for GoPro Videos & Shoots</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-in-2024-a-complete-breakdown-of-color-tuning-methods/"><u>[New] In 2024, A Complete Breakdown of Color Tuning Methods</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-in-2024-androidios-wedding-timekeeping-mastered-with-our-top-timer-app-picks/"><u>[New] In 2024, Android/iOS Wedding Timekeeping Mastered with Our Top Timer App Picks</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-in-2024-enhance-social-gaming-on-xbox-using-zoom/"><u>[New] In 2024, Enhance Social Gaming on Xbox Using Zoom</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-in-2024-mastering-slug-lines-for-effective-storytelling/"><u>[New] In 2024, Mastering Slug Lines for Effective Storytelling</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-index-of-varied-photographic-and-videography-instruments/"><u>[New] Index of Varied Photographic and Videography Instruments</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-snap-scissor-and-save-how-the-iphone-revolutionizes-image-cropping/"><u>[New] Snap, Scissor & Save  How the iPhone Revolutionizes Image Cropping</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-strategies-for-winning-on-spotifys-ad-platform/"><u>[New] Strategies for Winning on Spotify's Ad Platform</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-strategizing-superior-screen-snatchers-for-2024/"><u>[New] Strategizing Superior Screen-Snatchers for 2024</u></a></li>
<li><a href="https://digital-screen-recording.techidaily.com/new-top-10-road-racers-playlist-for-2024/"><u>[New] Top 10 Road Racers Playlist for 2024</u></a></li>
<li><a href="https://tiktok-video-files.techidaily.com/new-transforming-ideas-into-visuals-the-template-method-for-impressive-tiktoks-for-2024/"><u>[New] Transforming Ideas Into Visuals  The Template Method for Impressive TikToks for 2024</u></a></li>
<li><a href="https://article-helps.techidaily.com/updated-2024-approved-best-of-both-worlds-exclusive-11-bridge-camera-guide/"><u>[Updated] 2024 Approved  Best of Both Worlds  Exclusive 11 Bridge Camera Guide</u></a></li>
<li><a href="https://article-helps.techidaily.com/updated-2024-approved-liveaudiovideocasting-network/"><u>[Updated] 2024 Approved  LiveAudioVideocasting Network</u></a></li>
<li><a href="https://article-helps.techidaily.com/updated-2024-approved-the-skyward-voyage-of-gopro-karma-analysis/"><u>[Updated] 2024 Approved  The Skyward Voyage of GoPro Karma Analysis</u></a></li>
<li><a href="https://article-helps.techidaily.com/updated-2024-approved-ultimate-airborne-colossus-collection/"><u>[Updated] 2024 Approved  Ultimate Airborne Colossus Collection</u></a></li>
<li><a href="https://article-helps.techidaily.com/updated-bring-sound-effects-into-premiere-pro-for-2024/"><u>[Updated] Bring Sound Effects Into Premiere Pro for 2024</u></a></li>
<li><a href="https://fox-helps.techidaily.com/updated-cartoonhub-master-review-2024-overview/"><u>[Updated] CartoonHub Master Review 2024 Overview</u></a></li>
<li><a href="https://article-helps.techidaily.com/updated-dji-drone-family-fundamentals-advanced-models-cinematic-edition-for-2024/"><u>[Updated] DJI Drone Family  Fundamentals, Advanced Models, Cinematic Edition for 2024</u></a></li>
<li><a href="https://article-helps.techidaily.com/updated-exclusive-list-of-top-5-iphone-podcast-platforms/"><u>[Updated] Exclusive List of Top 5 iPhone Podcast Platforms</u></a></li>
<li><a href="https://article-helps.techidaily.com/updated-in-2024-best-3d-model-suites-for-animation-artists/"><u>[Updated] In 2024, Best 3D Model Suites for Animation Artists</u></a></li>
<li><a href="https://article-helps.techidaily.com/updated-in-2024-from-conceptualization-to-production-writing-engaging-documentary-stories/"><u>[Updated] In 2024, From Conceptualization to Production  Writing Engaging Documentary Stories</u></a></li>
<li><a href="https://article-helps.techidaily.com/updated-in-2024-photo-wit-funnypictorials/"><u>[Updated] In 2024, Photo Wit  FunnyPictorials</u></a></li>
<li><a href="https://facebook-video-share.techidaily.com/updated-strategic-trailer-planning-for-increased-channels-profitability/"><u>[Updated] Strategic Trailer Planning for Increased Channels' Profitability</u></a></li>
<li><a href="https://article-helps.techidaily.com/updated-transforming-your-tiktok-profile-altering-account-numbers/"><u>[Updated] Transforming Your TikTok Profile  Altering Account Numbers</u></a></li>
<li><a href="https://article-helps.techidaily.com/updated-troubleshooting-airdrop-issues-iphoneipadmac-solutions/"><u>[Updated] Troubleshooting Airdrop Issues  IPhone/iPad/Mac Solutions</u></a></li>
<li><a href="https://facebook-record-videos.techidaily.com/updated-youtubing-green-magic-ideas-that-come-to-life/"><u>[Updated] Youtubing Green Magic – Ideas That Come to Life</u></a></li>
<li><a href="https://article-tips.techidaily.com/2024-approved-from-shaky-to-steady-selecting-an-ideal-camera-gimbals-for-uavs/"><u>2024 Approved  From Shaky to Steady  Selecting an Ideal Camera Gimbals for UAVs</u></a></li>
<li><a href="https://screen-recording.techidaily.com/2024-approved-superior-choices-4k-screen-recorder-programs/"><u>2024 Approved  Superior Choices  4K Screen Recorder Programs</u></a></li>
<li><a href="https://location-social.techidaily.com/4-most-known-ways-to-find-someone-on-tinder-for-nubia-red-magic-9-proplus-by-name-drfone-by-drfone-virtual-android/"><u>4 Most-Known Ways to Find Someone on Tinder For Nubia Red Magic 9 Pro+ by Name | Dr.fone</u></a></li>
<li><a href="https://fox-boxes.techidaily.com/building-an-online-empire-through-effective-marketing/"><u>Building an Online Empire Through Effective Marketing</u></a></li>
<li><a href="https://android-unlock.techidaily.com/can-i-bypass-a-forgotten-phone-password-of-vivo-s17t-by-drfone-android/"><u>Can I Bypass a Forgotten Phone Password Of Vivo S17t?</u></a></li>
<li><a href="https://fox-that.techidaily.com/essential-hacks-and-solutions-navigating-the-iphones-photo-library/"><u>Essential Hacks & Solutions: Navigating the iPhone's Photo Library</u></a></li>
<li><a href="https://unlock-android.techidaily.com/forgotten-the-voicemail-password-of-xiaomi-redmi-note-13-pro-5g-try-these-fixes-by-drfone-android/"><u>Forgotten The Voicemail Password Of Xiaomi Redmi Note 13 Pro 5G? Try These Fixes</u></a></li>
<li><a href="https://fake-location.techidaily.com/how-to-change-google-play-location-on-samsung-galaxy-m14-5g-drfone-by-drfone-virtual-android/"><u>How to Change Google Play Location On Samsung Galaxy M14 5G | Dr.fone</u></a></li>
<li><a href="https://apple-account.techidaily.com/how-to-delete-icloud-account-remove-your-apple-id-permanently-from-iphone-se-2020-by-drfone-ios/"><u>How To Delete iCloud Account Remove Your Apple ID Permanently From iPhone SE (2020)</u></a></li>
<li><a href="https://howto.techidaily.com/how-to-fix-it-oneplus-12r-wont-turn-on-drfone-by-drfone-fix-android-problems-fix-android-problems/"><u>How to Fix It OnePlus 12R Wont Turn On | Dr.fone</u></a></li>
<li><a href="https://review-topics.techidaily.com/in-2024-how-to-change-spotify-location-after-moving-to-another-country-on-oppo-a59-5g-drfone-by-drfone-virtual-android/"><u>In 2024, How to Change Spotify Location After Moving to Another Country On Oppo A59 5G | Dr.fone</u></a></li>
<li><a href="https://article-helps.techidaily.com/insightful-review-the-comprehensive-theta-s-experience/"><u>Insightful Review  The Comprehensive Theta S Experience</u></a></li>
<li><a href="https://extra-support.techidaily.com/stepwise-manual-harnessing-googles-automatic-conversion-service-for-2024/"><u>Stepwise Manual  Harnessing Google's Automatic Conversion Service for 2024</u></a></li>
<li><a href="https://article-helps.techidaily.com/the-blueprint-of-movies-a-scripts-role-for-2024/"><u>The Blueprint of Movies  A Script's Role for 2024</u></a></li>
<li><a href="https://article-helps.techidaily.com/the-insiders-guide-to-time-lagged-masterpieces-with-your-android-phone-for-2024/"><u>The Insider's Guide to Time-Lagged Masterpieces with Your Android Phone for 2024</u></a></li>
<li><a href="https://article-helps.techidaily.com/top-picks-affordable-high-quality-4k-home-theatres/"><u>Top Picks  Affordable, High Quality 4K Home Theatres</u></a></li>
<li><a href="https://program-issues.techidaily.com/troubleshooting-fixes-when-monster-hunter-rise-wont-start-up-correctly/"><u>Troubleshooting Fixes When Monster Hunter Rise Won't Start Up Correctly</u></a></li>
<li><a href="https://article-helps.techidaily.com/turning-social-media-sounds-into-functional-phone-alarms/"><u>Turning Social Media Sounds Into Functional Phone Alarms</u></a></li>
</ul></div>
