---
title: "\"2024 Approved  In-Depth GoPro Hero5 Testing Report\""
date: 2024-06-12T02:04:12.792Z
updated: 2024-06-13T02:04:12.792Z
tags: 
  - screen-recording
  - ai video
  - ai audio
  - ai auto
categories: 
  - ai
  - screen
description: "\"This Article Describes 2024 Approved: In-Depth GoPro Hero5 Testing Report\""
excerpt: "\"This Article Describes 2024 Approved: In-Depth GoPro Hero5 Testing Report\""
keywords: "GoPro Hero5 Review,Hero5 Camera Test,Hero5 Performance,GoPro Hero5 Analysis,Hero5 Waterproof Testing,GoPro Hero5 Features,Hero5 Video Quality"
thumbnail: https://thmb.techidaily.com/6b70f639163cfe01d6518c08ef2693a5f686b7373d5c47d7a53f258bef450907.jpg
---

## In-Depth GoPro Hero5 Testing Report

# GoPro Hero5 Session Review

![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

##### Max Wales

 Mar 27, 2024• Proven solutions

 If you are in search of action cameras then [GoPro](https://tools.techidaily.com/wondershare/filmora/download/) is best brand for you. It offers high tech cameras with all amazing features and variable price ranges so you can easily find one that suits your needs. GoPro Hero5 Session camera is rated as one of the best devices with reasonable price range; so it is good to check few awesome details about this device.

 Want to know which GoPro to buy? Here is a [complete comparison >>](https://tools.techidaily.com/wondershare/filmora/download/)

**You may also like:** [Top 15 Best Action Cameras >>](https://tools.techidaily.com/wondershare/filmora/download/)

 It is a light weight, small size device with cube shape design that can shoot highly stabilized videos even with 4k resolution. With payment of $299.99, you can avail 4k recording abilities along 1080p at 90fps, 720p at 120fps. If this device is little above then your budget then you can also look for [GoPro Hero4 session](https://tools.techidaily.com/wondershare/filmora/download/) that is the previous version and will be priced $100 less than that of Hero5 session. If your budget is on higher side then prefer to buy [Hero5 Black](https://tools.techidaily.com/wondershare/filmora/download/) that is priced at $399.99 with all amazing features.

 See [Hero Session 5 VS Hero Session 4 >>.](https://tools.techidaily.com/wondershare/filmora/download/)

[For most of action camera lovers Hero5 session will be the best choice so below you will get some of the essential details about your favorite device:](https://tools.techidaily.com/wondershare/filmora/download/)

## [Specs Table:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Product Name**                                                            | GoPro Hero5 Session                                                    |                      |                             |
| --------------------------------------------------------------------------- | ---------------------------------------------------------------------- | -------------------- | --------------------------- |
| **Manufacture**                                                             | GoPro (USA)                                                            |                      |                             |
| **Date available**                                                          | 2 October 2016                                                         |                      |                             |
| **Price:**                                                                  | Official:$299                                                          |                      |                             |
| **Basic Specification**                                                     |                                                                        |                      |                             |
| **Parameters**                                                              | **Details**                                                            | **Parameters**       | **Details**                 |
| **Weight**                                                                  | 73g only                                                               | **Shape**            | Box                         |
| **Memory**                                                                  | SDXC cards with 128GB storage and Micro SD (Class 10)                  | **Dimensions**       | 38x38x36mm                  |
| **Battery**                                                                 | 1000mAh (with 4K resolution it offers 1 hour 40 minute recording time) | **Waterproof**       | 10 meters (without housing) |
| **Image resolution**                                                        | Up to 10mp                                                             | **Video resolution** | Up to 4k at30fps            |
| **Display**                                                                 | No                                                                     | **Modes**            | WIFI and Bluetooth          |
| **Other Features**                                                          | Voice Control                                                          |                      |                             |
| Advanced Digital video stabilization                                        |                                                                        |                      |                             |
| Simple one-button type control                                              |                                                                        |                      |                             |
| ultra wide, Super view, narrow, medium as well as new linear field of views |                                                                        |                      |                             |
| Advanced reduction capability towards wind-noise                            |                                                                        |                      |                             |
| Auto image rotation facility                                                |                                                                        |                      |                             |
| Auto low-light mode available                                               |                                                                        |                      |                             |
| Time lapse video can be generated                                           |                                                                        |                      |                             |

## [Pros and Cons:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Pros**                                              | **Cons**                               |
| ----------------------------------------------------- | -------------------------------------- |
| Voice commands show amazing results                   | No RAW or WDR support for still images |
| Excellent video quality                               | Non-removable type battery             |
| Advanced Digital image stabilization feature included | GPS facility is not available          |
| Sensitive dual microphones are available              | No viewfinder                          |
| Waterproof (10m without case)                         | \-                                     |
| Compact size                                          | \-                                     |

## [Complete Review](https://tools.techidaily.com/wondershare/filmora/download/)

#### [What is inside the Box?](https://tools.techidaily.com/wondershare/filmora/download/)

[If you are ready to buy GoPro Hero5 session Camera then you can expect following things with your device when you will unbox it:](https://tools.techidaily.com/wondershare/filmora/download/)

* [The box will have one standard frame.](https://tools.techidaily.com/wondershare/filmora/download/)
* [It comes with flat as well as curved adhesive mounts that allows users to capture scenes in all difficult locations.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Mounting Buckle will be included.](https://tools.techidaily.com/wondershare/filmora/download/)
* [USB-C cable is added.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Some video samples will be available.](https://tools.techidaily.com/wondershare/filmora/download/)

[Check at Amazon](https://www.amazon.com/gp/product/B01LZTLCFX/ref=as%5Fli%5Ftl?ie=UTF8&tag=vs-flora-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LZTLCFX&linkId=ea1830f57bf7ee4f930b77258f8b3654
)

#### Design and Accessories

 The highlights related to design and accessories can be presented as:

* 38mm or 1.5” cube shaped design helps users in obstructive mounting.
* This device provides impressive results when connected to GoPro Karma Drone.
* It is waterproof up to 10m or 33 feet.
* USB-C charging facility is available but battery is fixed.

 The GoPro camera units are well known for their well shaped rectangular design but this session camera was launched with attractive cube shape. With just a single easy to operate button you can easily start and stop recording whereas tiny LCD panel helps to view recording on the go. This structure is less complicated and users can even change settings to preferable mode from Android or iOS device.

#### Video and Photo Quality

 Few highlights are:

* It serves with 4K resolution for videos.
* This device is designed with total five fields of view where 3 of these are introductory.
* 10MP stills can be captured at 30fps frame rate.

 With all pretty features, GoPro Hero5 Session provides 4K resolutions at 30fps rate whereas this rate can be increased up to 90fps in case of 1080p recording. You will be glad to know about its advanced digital stabilization feature and the most exciting part is its vibration mode that gets automatically switched On when you are about the start the camera or when you switch recording Off. You can also switch off the vibrations at the time of video recording to capture much smoother details. Even if you want to capture videos while riding a cycle then also this camera can result in breathtaking view because it possesses advanced wind noise reduction ability.

 Users are excited about its several field of view modes that are: Medium, Wide, Narrow, Linear and Super view. You will be surprised to know that this small camera unit can record videos in super view mode so that you can avail extra wide coverage. One more appreciable feature is its low light video shooting mode that can provide satisfactory results with perfect video quality support.

#### Connectivity and Apps

 Some of the incredible connectivity options along with app supports are discussed as below:

 **Wi-Fi:**

 This latest camera from GoPro is designed to serve users with active Wi-Fi and Bluetooth support. Users can also connect it with iOS and Android device using GoPro Capture Application that activates remote control feature. With this type of connectivity you can also adjust camera settings directly from your phone that means a live view of camera screen will be generated on your mobile device.

 **GoPro Plus:**

 This name is given to a latest cloud based subscription of GoPro series so that users can publish their recorded videos directly on internet. Whenever you plug-in your Hero5 devices whether it is session or black, this cloud based application will allow you to access photo or video uploading facility instantly. It makes use of Home Wi-Fi network to enable this uploading. After this your footage will get stored on GoPro Plus account and it can be easily accessed from official website of GoPro. These uploaded videos will also be accessible on mobile devices as well as on desktop with the help of Quick application.

 **Quick:**

 This application is designed for Mobile as well as desktop users and allows fast as well as efficient editing features for all recorded videos. Users simply need to select highlights and then they can be easily edited to embed music into them or just to cut or trim to match certain timing requirements. The content that is stored on GoPro Account can also be accessed from quick App on portable devices.

**Note** that Users can also try GoPro Plus application for two months without making any payment as manufacturers have provided a free trial version whereas for complete feature access you need to pay $5 per month.

## The Bottom Line

 Some of you may say that GroPro Hero5 Session is not having all fancy features but it is one of the most widely purchases action camera unit in market. This is simply the best device at reasonable price range and the video as well as image quality is amazing. The cube shape of this device is really attractive with tiny body that you can carry anywhere with ease. It is time to order your Hero5 session device online and soon you will be able to record your all adventurous trips with awesome capture quality. The waterproof and damage proof construction is itself an edge over all competing devices.

![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

Max Wales

Max Wales is a writer and a lover of all things video.

Follow @Max Wales


<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>


<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://article-helps.techidaily.com/the-digital-divide-demystifying-virtualitys-kin-mr-ar-and-vr-for-2024/"><u>The Digital Divide  Demystifying Virtuality's Kin (MR, AR, & VR) for 2024</u></a></li>
<li><a href="https://article-helps.techidaily.com/access-all-nba-games-effortlessly-top-15-streaming-methods-for-2024/"><u>Access All NBA Games Effortlessly  Top 15 Streaming Methods for 2024</u></a></li>
<li><a href="https://article-helps.techidaily.com/essential-strategies-to-enhance-your-use-of-macs-preview-app/"><u>Essential Strategies to Enhance Your Use of Mac's Preview App</u></a></li>
<li><a href="https://article-helps.techidaily.com/2024-approved-cost-free-match-mastery-how-to-stream-and-slice/"><u>2024 Approved  Cost-Free Match Mastery  How to Stream and Slice</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-2024-approved-essential-zooming-skills-for-clearer-google-meets/"><u>[New] 2024 Approved  Essential Zooming Skills for Clearer Google Meets</u></a></li>
<li><a href="https://article-helps.techidaily.com/updated-in-2024-how-to-get-up-close-with-video-chat-colleagues/"><u>[Updated] In 2024, How to Get Up Close with Video Chat Colleagues</u></a></li>
<li><a href="https://article-helps.techidaily.com/updated-see-clearly-now-the-leading-online-tools-for-flawless-photos-for-2024/"><u>[Updated] See Clearly Now  The Leading Online Tools for Flawless Photos for 2024</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-in-2024-expert-strategies-for-effective-angle-rotations-on-android/"><u>[New] In 2024, Expert Strategies for Effective Angle Rotations on Android</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-hacks-to-dodge-digital-lessons-at-home/"><u>[New] Hacks to Dodge Digital Lessons at Home</u></a></li>
<li><a href="https://article-helps.techidaily.com/2024-approved-ultimate-guide-to-enhancing-photos-with-top-10-screenshot-charmers/"><u>2024 Approved  Ultimate Guide to Enhancing Photos with Top 10 Screenshot Charmers</u></a></li>
<li><a href="https://eaxpv-info.techidaily.com/updated-from-iciness-to-comfort-five-warm-backdrops-ideas-for-2024/"><u>[Updated] From Iciness to Comfort  Five Warm Backdrops Ideas for 2024</u></a></li>
<li><a href="https://change-location.techidaily.com/in-2024-pokemon-go-cooldown-chart-on-vivo-s17t-drfone-by-drfone-virtual-android/"><u>In 2024, Pokémon Go Cooldown Chart On Vivo S17t | Dr.fone</u></a></li>
<li><a href="https://apple-account.techidaily.com/how-to-fix-apple-id-verification-code-not-working-on-apple-iphone-15-plus-by-drfone-ios/"><u>How To Fix Apple ID Verification Code Not Working On Apple iPhone 15 Plus</u></a></li>
<li><a href="https://location-social.techidaily.com/how-to-change-location-on-tiktok-to-see-more-content-on-your-apple-iphone-15-pro-max-drfone-by-drfone-virtual-ios/"><u>How to Change Location on TikTok to See More Content On your Apple iPhone 15 Pro Max | Dr.fone</u></a></li>
<li><a href="https://voice-adjusting.techidaily.com/shape-the-perception-of-your-digital-dialogue-key-voice-transformation-tools-for-skype-users-for-2024/"><u>Shape the Perception of Your Digital Dialogue Key Voice Transformation Tools for Skype Users for 2024</u></a></li>
<li><a href="https://ai-vdieo-software.techidaily.com/in-2024-essential-3d-video-editing-tools-every-creator-should-use/"><u>In 2024, Essential 3D Video Editing Tools Every Creator Should Use</u></a></li>
<li><a href="https://sim-unlock.techidaily.com/how-to-unlock-sim-cards-of-vivo-t2-5g-without-puk-codes-by-drfone-android/"><u>How To Unlock SIM Cards Of Vivo T2 5G Without PUK Codes</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-best-5-animation-driven-socially-conscious-brands-for-2024/"><u>[New] Best 5 Animation-Driven Socially Conscious Brands for 2024</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/fbs-frontier-making-and-sending-immersive-360-videos-for-2024/"><u>FB's Frontier  Making and Sending Immersive 360 Videos for 2024</u></a></li>
<li><a href="https://animation-videos.techidaily.com/new-2024-approved-how-to-learn-cartoon-characters-sketch-quickly/"><u>New 2024 Approved How to Learn Cartoon Characters Sketch Quickly</u></a></li>
</ul></div>
