---
title: "\"2024 Approved  In-Depth GoPro Hero5 Testing Report\""
date: 2024-07-11T07:43:16.491Z
updated: 2024-07-12T07:43:16.491Z
tags: 
  - screen-recording
  - ai video
  - ai audio
  - ai auto
categories: 
  - ai
  - screen
description: "\"This Article Describes 2024 Approved: In-Depth GoPro Hero5 Testing Report\""
excerpt: "\"This Article Describes 2024 Approved: In-Depth GoPro Hero5 Testing Report\""
keywords: "GoPro Hero5 Review,Hero5 Camera Test,Hero5 Performance,GoPro Hero5 Analysis,Hero5 Waterproof Testing,GoPro Hero5 Features,Hero5 Video Quality"
thumbnail: https://thmb.techidaily.com/6b70f639163cfe01d6518c08ef2693a5f686b7373d5c47d7a53f258bef450907.jpg
---

## In-Depth GoPro Hero5 Testing Report

# GoPro Hero5 Session Review

![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

##### Max Wales

 Mar 27, 2024• Proven solutions

 If you are in search of action cameras then [GoPro](https://tools.techidaily.com/wondershare/filmora/download/) is best brand for you. It offers high tech cameras with all amazing features and variable price ranges so you can easily find one that suits your needs. GoPro Hero5 Session camera is rated as one of the best devices with reasonable price range; so it is good to check few awesome details about this device.

 Want to know which GoPro to buy? Here is a [complete comparison >>](https://tools.techidaily.com/wondershare/filmora/download/)

**You may also like:** [Top 15 Best Action Cameras >>](https://tools.techidaily.com/wondershare/filmora/download/)

 It is a light weight, small size device with cube shape design that can shoot highly stabilized videos even with 4k resolution. With payment of $299.99, you can avail 4k recording abilities along 1080p at 90fps, 720p at 120fps. If this device is little above then your budget then you can also look for [GoPro Hero4 session](https://tools.techidaily.com/wondershare/filmora/download/) that is the previous version and will be priced $100 less than that of Hero5 session. If your budget is on higher side then prefer to buy [Hero5 Black](https://tools.techidaily.com/wondershare/filmora/download/) that is priced at $399.99 with all amazing features.

 See [Hero Session 5 VS Hero Session 4 >>.](https://tools.techidaily.com/wondershare/filmora/download/)

[For most of action camera lovers Hero5 session will be the best choice so below you will get some of the essential details about your favorite device:](https://tools.techidaily.com/wondershare/filmora/download/)

## Specs Table:

| **Product Name**                                                            | GoPro Hero5 Session                                                    |                      |                             |
| --------------------------------------------------------------------------- | ---------------------------------------------------------------------- | -------------------- | --------------------------- |
| **Manufacture**                                                             | GoPro (USA)                                                            |                      |                             |
| **Date available**                                                          | 2 October 2016                                                         |                      |                             |
| **Price:**                                                                  | Official:$299                                                          |                      |                             |
| **Basic Specification**                                                     |                                                                        |                      |                             |
| **Parameters**                                                              | **Details**                                                            | **Parameters**       | **Details**                 |
| **Weight**                                                                  | 73g only                                                               | **Shape**            | Box                         |
| **Memory**                                                                  | SDXC cards with 128GB storage and Micro SD (Class 10)                  | **Dimensions**       | 38x38x36mm                  |
| **Battery**                                                                 | 1000mAh (with 4K resolution it offers 1 hour 40 minute recording time) | **Waterproof**       | 10 meters (without housing) |
| **Image resolution**                                                        | Up to 10mp                                                             | **Video resolution** | Up to 4k at30fps            |
| **Display**                                                                 | No                                                                     | **Modes**            | WIFI and Bluetooth          |
| **Other Features**                                                          | Voice Control                                                          |                      |                             |
| Advanced Digital video stabilization                                        |                                                                        |                      |                             |
| Simple one-button type control                                              |                                                                        |                      |                             |
| ultra wide, Super view, narrow, medium as well as new linear field of views |                                                                        |                      |                             |
| Advanced reduction capability towards wind-noise                            |                                                                        |                      |                             |
| Auto image rotation facility                                                |                                                                        |                      |                             |
| Auto low-light mode available                                               |                                                                        |                      |                             |
| Time lapse video can be generated                                           |                                                                        |                      |                             |

## Pros and Cons:

| **Pros**                                              | **Cons**                               |
| ----------------------------------------------------- | -------------------------------------- |
| Voice commands show amazing results                   | No RAW or WDR support for still images |
| Excellent video quality                               | Non-removable type battery             |
| Advanced Digital image stabilization feature included | GPS facility is not available          |
| Sensitive dual microphones are available              | No viewfinder                          |
| Waterproof (10m without case)                         | \-                                     |
| Compact size                                          | \-                                     |

## Complete Review

#### What is inside the Box?

[If you are ready to buy GoPro Hero5 session Camera then you can expect following things with your device when you will unbox it:](https://tools.techidaily.com/wondershare/filmora/download/)

* [The box will have one standard frame.](https://tools.techidaily.com/wondershare/filmora/download/)
* [It comes with flat as well as curved adhesive mounts that allows users to capture scenes in all difficult locations.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Mounting Buckle will be included.](https://tools.techidaily.com/wondershare/filmora/download/)
* [USB-C cable is added.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Some video samples will be available.](https://tools.techidaily.com/wondershare/filmora/download/)

[Check at Amazon](https://www.amazon.com/gp/product/B01LZTLCFX/ref=as%5Fli%5Ftl?ie=UTF8&tag=vs-flora-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LZTLCFX&linkId=ea1830f57bf7ee4f930b77258f8b3654
)

#### Design and Accessories

 The highlights related to design and accessories can be presented as:

* 38mm or 1.5” cube shaped design helps users in obstructive mounting.
* This device provides impressive results when connected to GoPro Karma Drone.
* It is waterproof up to 10m or 33 feet.
* USB-C charging facility is available but battery is fixed.

 The GoPro camera units are well known for their well shaped rectangular design but this session camera was launched with attractive cube shape. With just a single easy to operate button you can easily start and stop recording whereas tiny LCD panel helps to view recording on the go. This structure is less complicated and users can even change settings to preferable mode from Android or iOS device.

#### Video and Photo Quality

 Few highlights are:

* It serves with 4K resolution for videos.
* This device is designed with total five fields of view where 3 of these are introductory.
* 10MP stills can be captured at 30fps frame rate.

 With all pretty features, GoPro Hero5 Session provides 4K resolutions at 30fps rate whereas this rate can be increased up to 90fps in case of 1080p recording. You will be glad to know about its advanced digital stabilization feature and the most exciting part is its vibration mode that gets automatically switched On when you are about the start the camera or when you switch recording Off. You can also switch off the vibrations at the time of video recording to capture much smoother details. Even if you want to capture videos while riding a cycle then also this camera can result in breathtaking view because it possesses advanced wind noise reduction ability.

 Users are excited about its several field of view modes that are: Medium, Wide, Narrow, Linear and Super view. You will be surprised to know that this small camera unit can record videos in super view mode so that you can avail extra wide coverage. One more appreciable feature is its low light video shooting mode that can provide satisfactory results with perfect video quality support.

#### Connectivity and Apps

 Some of the incredible connectivity options along with app supports are discussed as below:

 **Wi-Fi:**

 This latest camera from GoPro is designed to serve users with active Wi-Fi and Bluetooth support. Users can also connect it with iOS and Android device using GoPro Capture Application that activates remote control feature. With this type of connectivity you can also adjust camera settings directly from your phone that means a live view of camera screen will be generated on your mobile device.

 **GoPro Plus:**

 This name is given to a latest cloud based subscription of GoPro series so that users can publish their recorded videos directly on internet. Whenever you plug-in your Hero5 devices whether it is session or black, this cloud based application will allow you to access photo or video uploading facility instantly. It makes use of Home Wi-Fi network to enable this uploading. After this your footage will get stored on GoPro Plus account and it can be easily accessed from official website of GoPro. These uploaded videos will also be accessible on mobile devices as well as on desktop with the help of Quick application.

 **Quick:**

 This application is designed for Mobile as well as desktop users and allows fast as well as efficient editing features for all recorded videos. Users simply need to select highlights and then they can be easily edited to embed music into them or just to cut or trim to match certain timing requirements. The content that is stored on GoPro Account can also be accessed from quick App on portable devices.

**Note** that Users can also try GoPro Plus application for two months without making any payment as manufacturers have provided a free trial version whereas for complete feature access you need to pay $5 per month.

## The Bottom Line

 Some of you may say that GroPro Hero5 Session is not having all fancy features but it is one of the most widely purchases action camera unit in market. This is simply the best device at reasonable price range and the video as well as image quality is amazing. The cube shape of this device is really attractive with tiny body that you can carry anywhere with ease. It is time to order your Hero5 session device online and soon you will be able to record your all adventurous trips with awesome capture quality. The waterproof and damage proof construction is itself an edge over all competing devices.

![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

Max Wales

Max Wales is a writer and a lover of all things video.

Follow @Max Wales


<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>




<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://article-helps.techidaily.com/iphone-and-ipad-video-powerhouses-the-ultimate-list-of-10/"><u>IPhone & iPad Video Powerhouses  The Ultimate List of 10</u></a></li>
<li><a href="https://article-helps.techidaily.com/in-2024-honing-skills-for-hiring-best-filmmakers/"><u>In 2024, Honing Skills for Hiring Best Filmmakers</u></a></li>
<li><a href="https://article-helps.techidaily.com/2024-approved-best-web-conversion-solutions-for-direct-hassle-free-gif-to-video/"><u>2024 Approved  Best Web Conversion Solutions For Direct, Hassle-Free GIF To Video</u></a></li>
<li><a href="https://article-helps.techidaily.com/2024-approved-bite-sized-narrative-notation/"><u>2024 Approved  Bite-Sized Narrative Notation</u></a></li>
<li><a href="https://article-helps.techidaily.com/2024-approved-accelerated-image-viewer-in-windows-environment/"><u>2024 Approved  Accelerated Image Viewer in Windows Environment</u></a></li>
<li><a href="https://article-helps.techidaily.com/2024-approved-stable-shooting-ideal-gimbals-and-handhelds-reviewed/"><u>2024 Approved  Stable Shooting  Ideal Gimbals & Handhelds Reviewed</u></a></li>
<li><a href="https://article-helps.techidaily.com/2024-approved-top-6-tools-for-saving-linkedin-videos-effortlessly/"><u>2024 Approved  Top 6 Tools for Saving LinkedIn Videos Effortlessly</u></a></li>
<li><a href="https://article-helps.techidaily.com/2024-approved-innovation-at-hand-creating-3d-textures-with-photo/"><u>2024 Approved  Innovation at Hand  Creating 3D Textures with PHOTO</u></a></li>
<li><a href="https://article-helps.techidaily.com/2024-approved-enhance-your-audio-visual-experience-with-these-6-apps/"><u>2024 Approved  Enhance Your Audio-Visual Experience with These 6 Apps</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-winter-wonderland-spins-and-jumps/"><u>[New] Winter Wonderland Spins and Jumps</u></a></li>
<li><a href="https://article-helps.techidaily.com/2024-approved-comprehensive-morphvox-modification-handbook/"><u>2024 Approved  Comprehensive MorphVOX Modification Handbook</u></a></li>
<li><a href="https://article-helps.techidaily.com/innovative-use-of-movie-maker-for-digital-storytelling-for-2024/"><u>Innovative Use of Movie Maker for Digital Storytelling for 2024</u></a></li>
<li><a href="https://article-helps.techidaily.com/2024-approved-digitizing-creativity-prime-nft-generating-platforms-revealed/"><u>2024 Approved  Digitizing Creativity  Prime NFT-Generating Platforms Revealed</u></a></li>
<li><a href="https://article-helps.techidaily.com/2024-approved-synchronizing-releases-with-listener-habits/"><u>2024 Approved  Synchronizing Releases with Listener Habits</u></a></li>
<li><a href="https://article-helps.techidaily.com/updated-discover-the-7-premier-tools-to-convert-digital-work-as-nfts/"><u>[Updated] Discover the 7 Premier Tools to Convert Digital Work as NFTs</u></a></li>
<li><a href="https://article-helps.techidaily.com/2024-approved-superior-3d-viewing-playback-on-android/"><u>2024 Approved  Superior 3D Viewing, Playback on Android</u></a></li>
<li><a href="https://article-helps.techidaily.com/explore-greatest-vr-handhelds-listed-for-2024/"><u>Explore Greatest VR Handhelds Listed for 2024</u></a></li>
<li><a href="https://article-helps.techidaily.com/updated-designing-engaging-audio-visual-podcast-teasers/"><u>[Updated] Designing Engaging Audio-Visual Podcast Teasers</u></a></li>
<li><a href="https://article-helps.techidaily.com/elevating-your-iphone-photos-through-hdr-methods-for-2024/"><u>Elevating Your iPhone Photos Through HDR Methods for 2024</u></a></li>
<li><a href="https://article-helps.techidaily.com/updated-2024-approved-enhance-photos-add-dynamic-shake-with-ps/"><u>[Updated] 2024 Approved  Enhance Photos  Add Dynamic Shake with PS</u></a></li>
<li><a href="https://article-helps.techidaily.com/master-iphone-photo-watermarks-the-top-apps-reviewed-for-2024/"><u>Master iPhone Photo Watermarks  The Top Apps Reviewed for 2024</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-streamline-your-content-google-podcast-upload/"><u>[New] Streamline Your Content  Google Podcast Upload</u></a></li>
<li><a href="https://article-helps.techidaily.com/2024-approved-engaging-lessons-video-editing-skills-for-teachers/"><u>2024 Approved  Engaging Lessons  Video Editing Skills for Teachers</u></a></li>
<li><a href="https://article-helps.techidaily.com/2024-approved-expert-tips-on-achieving-fluidity-in-inshot-cuts/"><u>2024 Approved  Expert Tips on Achieving Fluidity in Inshot Cuts</u></a></li>
<li><a href="https://article-helps.techidaily.com/2024-approved-preserving-periscope-content-tips-from-the-pros/"><u>2024 Approved  Preserving Periscope Content  Tips From the Pros</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-the-top-10-filmora-traits-fueling-video-magic/"><u>[New] The Top 10 Filmora Traits Fueling Video Magic</u></a></li>
<li><a href="https://article-helps.techidaily.com/new-2024-approved-scheduling-virtual-gatherings-with-zoom-an-android-users-handbook/"><u>[New] 2024 Approved  Scheduling Virtual Gatherings with Zoom  An Android User's Handbook</u></a></li>
<li><a href="https://ios-unlock.techidaily.com/in-2024-forgot-locked-iphone-11-pro-password-learn-the-best-methods-to-unlock-by-drfone-ios/"><u>In 2024, Forgot Locked iPhone 11 Pro Password? Learn the Best Methods To Unlock</u></a></li>
<li><a href="https://some-approaches.techidaily.com/in-2024-turbocharge-video-on-snapchat-new-users-edition/"><u>In 2024, Turbocharge Video on Snapchat  New Users Edition</u></a></li>
<li><a href="https://instagram-videos.techidaily.com/updated-2024-approved-a-closer-look-at-instagram-stories-beyond-the-screen/"><u>[Updated] 2024 Approved  A Closer Look at Instagram Stories Beyond the Screen</u></a></li>
<li><a href="https://activate-lock.techidaily.com/how-to-bypass-activation-lock-on-apple-iphone-8-plus-or-ipad-by-drfone-ios/"><u>How to Bypass Activation Lock on Apple iPhone 8 Plus or iPad?</u></a></li>
<li><a href="https://android-unlock.techidaily.com/in-2024-top-4-sim-location-trackers-to-easily-find-your-lost-samsung-galaxy-a05-device-by-drfone-android/"><u>In 2024, Top 4 SIM Location Trackers To Easily Find Your Lost Samsung Galaxy A05 Device</u></a></li>
<li><a href="https://extra-skills.techidaily.com/2024-approved-ios-and-android-perfecting-your-chat-tone-with-whatsapp-ringtones/"><u>2024 Approved  IOS & Android  Perfecting Your Chat Tone with WhatsApp Ringtones</u></a></li>
<li><a href="https://some-guidance.techidaily.com/new-ultimate-guide-to-windows-10-savvy-techniques/"><u>[New] Ultimate Guide to Windows 10 Savvy Techniques</u></a></li>
<li><a href="https://mondly-stories.techidaily.com/become-a-korean-wiz-the-essential-guide-to-6-superior-sites/"><u>Become a Korean Wiz: The Essential Guide to 6 Superior Sites</u></a></li>
<li><a href="https://some-guidance.techidaily.com/2024-approved-ultimate-charger-systems-for-black-gopro-hero5-official-sources/"><u>2024 Approved  Ultimate Charger Systems for Black GoPro Hero5  Official Sources</u></a></li>
<li><a href="https://facebook-video-share.techidaily.com/updated-2024-approved-boosting-engagement-with-effective-youtube-banners-and-thumbnails/"><u>[Updated] 2024 Approved  Boosting Engagement with Effective YouTube Banners & Thumbnails</u></a></li>
<li><a href="https://snapchat-videos.techidaily.com/in-2024-how-to-screenshot-on-snapchat-without-them-knowing-5-ways/"><u>In 2024, How to Screenshot on Snapchat without Them Knowing  5 Ways</u></a></li>
<li><a href="https://change-location.techidaily.com/how-to-teleport-your-gps-location-on-vivo-y77t-drfone-by-drfone-virtual-android/"><u>How To Teleport Your GPS Location On Vivo Y77t? | Dr.fone</u></a></li>
<li><a href="https://video-ai-editor.techidaily.com/the-most-accessible-video-editors-for-beginners-for-2024/"><u>The Most Accessible Video Editors for Beginners for 2024</u></a></li>
<li><a href="https://youtube-web.techidaily.com/024-approved-earning-edge-reached-for-subscribers-above-500/"><u>[New] 2024 Approved  Earning Edge Reached for Subscribers Above 500</u></a></li>
<li><a href="https://ai-vdieo-software.techidaily.com/new-best-free-dvd-playback-options-for-windows-10-users-updated-2023/"><u>New Best Free DVD Playback Options for Windows 10 Users Updated 2023</u></a></li>
<li><a href="https://remote-screen-capture.techidaily.com/in-2024-compelling-list-of-prime-no-price-recording-tools-pc/"><u>In 2024, Compelling List of Prime No-Price Recording Tools, PC</u></a></li>
<li><a href="https://video-screen-grab.techidaily.com/expert-strategies-for-effective-zoom-sharing-for-2024/"><u>Expert Strategies for Effective Zoom Sharing for 2024</u></a></li>
<li><a href="https://activate-lock.techidaily.com/latest-guide-on-ipad-23-and-apple-iphone-xs-max-icloud-activation-lock-bypass-by-drfone-ios/"><u>Latest Guide on iPad 2/3 and Apple iPhone XS Max iCloud Activation Lock Bypass</u></a></li>
<li><a href="https://instagram-videos.techidaily.com/updated-2024-approved-building-brands-on-instagram-a-playbook-for-sponsorship-success/"><u>[Updated] 2024 Approved  Building Brands on Instagram  A Playbook for Sponsorship Success</u></a></li>
<li><a href="https://snapchat-videos.techidaily.com/the-art-of-discerning-if-ones-friend-blocked-your-account-for-2024/"><u>The Art of Discerning if One's Friend Blocked Your Account for 2024</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/updated-in-2024-cataloging-fb-video-ratios/"><u>[Updated] In 2024, Cataloging FB Video Ratios</u></a></li>
</ul></div>
